*{
    box-sizing: border-box;

}
html, body {
    margin:0px;
    height:100%;
}
/*BODY***************************************************************************************************************/
body{
    background-image: url(../images/background01.jpeg);
    background-size: 5% auto;
    font-family: sans-serif;
    
}
.bodyform{
    margin-top: 50px;
    font-family:sans-serif;
    color: rgb(20, 20, 207);
}

.userypass{
    background-color: rgb(1, 80, 24);
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;;
    border-radius: 5%;
    min-width: 150px ; 
    max-width: 150px ;
    margin-top: 15px;;
}
.userypass:hover{
    background-color:  rgb(35, 179, 76);
}
.userinput{
    max-width: 250px ;
    margin-bottom: 10px;
    min-width: 150px;
    
}
.userbuttons{
    min-width: 150px;
    max-width: 150px;
    margin: 5px 0 5px 0;
}
.form-container{
    background-color:rgba(104, 182, 255, 0.726);
    border-radius: 3%;
    margin-top: 10px;
}
/*LOGO*************************************************************************************************************/
.logo{
    margin-top: 10px;
    max-height: 200px;
    border-radius: 20%;
}

/* ENCABEZADO DEL FORMULARIO***********************************/
img {
    max-width: 100%;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: linear;;
    animation-fill-mode: forwards;
}
/*ACCORDION ********************************************************************************************/
.accordion {
    background-color: #eee;
    color:#444;
    cursor:pointer;
    padding:18px;
    width:100%;
    text-align: left;
    border:none;
    outline: none;
    transition: 0.4s;
}
.active, .accordion:hover {
    background-color:#ccc;
}
.panel {
    padding: 0 18px;
    background-color: white;
    display:none;
    overflow:hidden;
}
.h2form {
    color: rgb(73, 160, 73);
}
/* FOOTER ***********************************************************************************************************/
.footer{
    background-color: rgba(37, 255, 255, 0.425);
    margin-top: 10px;
    border-radius: 2%;
}

.footer-nav a{
    font-weight: bold;
    color: white;
    background-color: rgb(2, 0, 114);
    margin-bottom: 1%;
    max-width: 200px;
    border-radius: 5%;
    
}
.footer-nav a:hover{
    text-decoration: none;
    color: white;
    
}
