*{
    box-sizing: border-box;

}
body{
    background-image: url(../images/PuntoVet.png);
    background-size: 5% auto;
    font-family: sans-serif;
    
}
.bodyform{
    background-size: 5% auto;
    font-family: sans-serif;
}

.userypass{
    background-color: rgb(224, 24, 24);
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 5%;
    min-width: 150px ; 
    max-width: 150px;
    
    
}
.userinput{
    max-width: 250px ;
    margin-bottom: 10px;
    min-width: 150px;
    
}
.userbuttons{
    min-width: 150px;
    max-width: 150px;
    margin: 5px 0 5px 0;
}
.logo{
    margin-top: 10px;
    border: solid black 1px;
    border-radius: 50%;
}
footer{
    position: absolute;
    bottom: 0;
}
.footer-nav{
    
}
.footer-nav a{
    font-weight: bold;
    color: white;
    background-color: rgb(175, 0, 0);
    margin-bottom: 1%;
    max-width: 200px;
    
}
.footer-nav a:hover{
    text-decoration: none;
    color: white;
    
}
